<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fystock.bigdata.cloud.mapper.UserOrderMapper">
    <update id="upInsertUserOrder" parameterType="com.fystock.bigdata.cloud.entity.UserOrder">
        UPSERT INTO USER_ORDER VALUES (
        #{orderID},
        #{userID},
        #{number},
        #{price},
        #{productID}
        )
    </update>
    <delete id="deleteUserOrder" parameterType="String">
        DELETE
        FROM USER_ORDER
        WHERE "orderID" = #{orderID}
    </delete>
    <select id="getOrderById" parameterType="String" resultType="com.fystock.bigdata.cloud.entity.UserOrder">
        SELECT *
        FROM USER_ORDER
        WHERE "orderID" = #{orderID}
    </select>
    <select id="getAllOrders" resultType="com.fystock.bigdata.cloud.entity.UserOrder">
        SELECT *
        FROM USER_ORDER
    </select>
    <select id="getOrdersByUserId" parameterType="String" resultType="com.fystock.bigdata.cloud.entity.UserOrder">
        SELECT *
        FROM USER_ORDER
        WHERE "userID" = #{userID}
    </select>
</mapper>